# MacOS
.DS_Store

# VSCode
.vscode/*

# Debugger
!.vscode/launch.json
!.vscode/tasks.json

# Simulator
.venv
elm.log

# clangd
.cache
compile_commands.json

# binaries
bin

# CMake
build

# PlatformIO
.pio

# gtest
Testing

# Python
**/__pycache__
